<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
  <title th:text="#{email.activation.title}">SDI Account Details</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.login})}">Dear [User's Name]</p>
<p th:text="#{email.activation.text1(${#strings.substringAfter(user.authorities[0].name, 'ROLE_')})}">
  We are excited to inform you that your SDI account ([Role]) has been created! Below are your login details:
</p>
<p>
  <strong>Username:</strong> <span th:text="${user.login}">[Your username]</span><br />
  <strong>Password:</strong> <span th:text="${user.login + '123'}">[Your password]</span>
</p>

<p>
  <strong>Change your password:</strong><br />
  <span>Access your account:</span><br />
  <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}">Click here to log in</a>
  If you'd like to change your password, you can do so using the link above. No current password is required to update it.
</p>
<p>
  <span th:text="#{email.activation.text2}">Regards, </span>
  <br />
  <em th:text="#{email.signature}">sdi Team</em>
</p>
</body>
</html>
